table {
    width: 90%;
    margin: 0 5% 0 5%;
}
td {
    padding: 10px;
    font-size: 22px;
}
img {
    width: 60%;
}
h2 {
    display: inline-block;
    vertical-align: bottom
}

.header {
    background-color: #c8d7ef;
    width: 52%;
    font-size: 22px;
    margin: 40px 0 0 5.1%;
    border: 1px solid #2a5893;
    padding: 55px 15px 15px 15px;
}
.logo {
    position: absolute;
    top: -13px;
}
.inline, img {
    display: inline;
}
.header > .inline{
    margin-right: 80px;
}
.title {
    background-color: #417cc9;
    color: white;
}
.present {
    background-color: #d0d8ec;
}
.absent {
    background-color: #e9ecf6;
}
.new {
    background-color: #fee294;
}