<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/base.css') }}>
    </head>
    <title>
        Presencenet
    </title>
    <body>
        <input type="hidden" name='token' value={{token}}>
        <div class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}">
                <h2>Emargement</h2>
            </div>
            <p>Lieu : Université virtuelle de Présence.net</p>
            <p class='inline'>Nom du formateur : Yuki</p>
            <p class='inline'>Intitulé du cours : Cours de Yuki</p>
        </div>
        <table>
            <thead>
                <td class='title'>Prénom</td>
                <td class='title'>Date et heure</td>
                <td class='title'>Présent / Absent</td>
            </thead>
            <tbody id='users'>
            </tbody>
        </table>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='js/base.js') }}></script>
</html>